/**
 * ----------------RESET----------------
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0;padding: 0; vertical-align: baseline; }
body { cursor: default; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ""; content: ""; }
del { text-decoration: line-through; }
a:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }
header, footer, aside, nav, article, section { display: block; }  

/**
 * -----------FONT FACE-----------
 */
@font-face { font-family: Delicious; src: local('delicious'), url('fonts/Delicious-Roman.otf'); }
@font-face { font-family: Delicious; src: local('delicious'), url('fonts/Delicious-Bold.otf'); font-weight: bold; }
@font-face { font-family: "Myriad Web Pro"; src: local('myriad web pro'), url('fonts/MyriadWebPro.ttf') format('truetype'); }
@font-face { font-family: nevis; src: url('fonts/nevis_0.ttf') format('truetype'); }

/**
 * -----------ELEMENTS-----------
 */
body { background: #c7c7c7 url('images/noise.jpg') repeat top left scroll; font-family: "Myriad Web Pro"; font-size: 15px; color: #ffffff; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.right:after { clear: both; display: block; content: ""; }
.wrapper { width: 960px; margin: 0 AUTO; }
.padding { padding: 20px 0; }
#container { background: url('images/meglow.png') no-repeat top center scroll; }
#bar { background: #868686 url('images/bar.jpg') repeat-x top left scroll; border-bottom: 1px solid #e5e5e5; height: 50px; text-align: center; }
	#bar #codepassive { padding: 13px 0; }
#me { text-align: center; }
	#me h1 { font-family: nevis, georgia, helvetica, arial; font-size: 110px; text-shadow: 0 5px 0 rgba(0,0,0,0.1); margin: 60px 0; }
	#me h2, #me h5 { font-family: Delicious, georgia, helvetica, arial; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); }
	#me h2 { font-size: 30px; }
	#me h5 { font-size: 18px; }
	#me a { color: #ffffff; text-decoration: none; }
		#me a:hover { text-decoration: underline; }
#social { padding: 60px 0 30px; }
	#social #icons { width: 300px; margin: 0 AUTO; }
	#social #icons a { display: block; float: left; height: 55px; width: 55px; margin: 0 10px; background: url('images/social-icons.png') no-repeat top center scroll; }
	#social #icons a#twitters { background: url('images/social-icons-twitter.png') no-repeat top center scroll; }
	#social #icons a#forrsts { background: url('images/social-icons-forrst.png') no-repeat top center scroll; }
	#social #icons a#githubs { background: url('images/social-icons-github.png') no-repeat top center scroll; }
	#social #icons a#blogs { background: url('images/social-icons-blog.png') no-repeat top center scroll; }
	#social #icons:after { clear: both; display: block; content: ""; }
#products { background: #272727; margin: 40px 0; }
	#concerto .logo { float: left; background: #272727 url('images/concerto.jpg') no-repeat top center scroll; height: 75px; width: 257px; margin: 25px 0 0 20px; }
	#concerto .desc { float: left; width: 400px; font-size: 20px; margin: 32px 0 0 30px; text-align: center; }
		#concerto .desc a { color: #ffffff; text-decoration: none; }
	#concerto .wordpress { float: right; }
		#concerto .outofthebox { position: relative; margin-bottom: -3px; margin-top: -35px; margin-right: 20px; }
	#products .product:after { clear: both; display: block; content: ""; }
#about {  font-size: 18px; color: #555555; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
	#about .wrapper { margin: 0 AUTO; }
	#about .padding { margin: 0 20px 40px; }
	#about #aboutme { float: left; width: 500px; }
	#about #skillsandbelief { float: right; width: 300px; }
	#about #ps { clear: both; text-align: center; font-size: 30px; padding-top: 50px; }
		#about h3 { font-size: 50px; font-family: Delicious, georgia, helvetica, arial; margin-top: 30px; text-shadow: 0 1px 0 rgba(255,255,255,0.7); }
		#about p, #about ul { margin-top: 20px; line-height: 25px; }
		#about ul a { color: #222222; text-decoration: none; }
			#about ul a:hover { text-decoration: underline; }
	#about #personal { margin-top: 50px; }
		#about #personal a { display: block; float: left; margin-right: 30px; text-decoration: none; padding: 2px; border: 1px solid #939393; color: #787878; font-weight: bold; background: #f4f4f4; background: -moz-linear-gradient(100% 100% 90deg, #cacaca, #f4f4f4); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#cacaca)); font-family: Delicious, Delicious, georgia, helvetica, arial; font-size: 20px; -moz-border-radius: 5px; -moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; -webkit-border-radius: 5px; -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; text-shadow: 0 1px 0 #ffffff; }
			#about #personal a span { display: block; padding: 8px 18px 8px 38px; }
				#about #personal a span#cv { background: transparent url('images/cv.png') no-repeat 10px 11px scroll; }
				#about #personal a span#contactme { background: transparent url('images/contact.png') no-repeat 10px 12px scroll; }
		#about #personal a:hover { border: 1px solid #aaaaaa; }
		#about #personal a:active { margin-top: 3px; margin-bottom: -3px; background: #f4f4f4; background: -moz-linear-gradient(100% 100% 90deg, #cacaca, #f4f4f4); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#cacaca)); border: 1px solid #939393; -moz-border-radius: 5px; -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; }
#portfolio { background: #f1f1f1; border-top: 1px solid #999999; border-bottom: 1px solid #999999; }
	#portfolio .padding { padding: 30px 10px 50px; }
		#portfolio h3 { font-size: 50px; color: #272727; font-family: Delicious, georgia, helvetica, arial; margin-top: 30px; margin-left: 10px; text-shadow: 0 -1px 0 #ffffff; }
		#portfolio h4 { font-size: 25px; color: #777777; font-family: Delicious, georgia, helvetica, arial; margin-top: 20px; margin-left: 10px; margin-bottom: 20px; }
			.project { float: left; background: #666666; height: 200px; width: 300px; margin: 10px 0 0; margin-left: 10px; overflow: hidden; -moz-box-shadow: 0 0 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1); border: 1px solid #ffffff;  }
				.project .desc { display: none; position:relative;width:300px;background:#272727; }
					.project .desc div { padding: 10px; font-size: 11px; font-family: arial; }
		h4#postprojects { color: #bababa; text-align: center; margin-top: 50px; }
			h4#postprojects a { color: #bababa; text-decoration: none; }
			h4#postprojects a:hover { text-decoration: underline; }
#contact { border-top: 1px solid #eeeeee; border-bottom: 1px solid #dadada; color: #555555; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
	#contact .padding { padding: 50px 20px; }
		#contact h3 { font-size: 50px; font-family: Delicious, georgia, helvetica, arial; margin-bottom: 20px; text-shadow: 0 1px 0 rgba(255,255,255,0.7); }
		#contact p { font-size: 18px; }
			#contact p a { color: #555555; text-decoration: none; }
			#contact p a:hover { text-decoration: underline; }
		#contact #form { margin-top: 20px; }
			#contact #form p { margin: 10px 0; }
		#contact #form #labels { float: left; width: 90px; margin-right: 20px; text-align: right; font-family: Delicious, georgia, helvetica, arial; }
			#contact #form #labels label { font-size: 24px; display: block; margin-top: 22px; }
		#contact #form #input { float: left; }
			#contact #form #input input { color: #ababab; font-size: 24px; padding: 5px; width: 400px; border: 1px solid #ababab; -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
			#contact #form #input #porijosdnakjrblksajiu { width: 320px; }
			#contact #form #input textarea { color: #ababab; font-family: arial; font-size: 24px; padding: 5px; width: 798px; height: 300px; border: 1px solid #ababab; -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; resize: none; }
			#contact #form #input input:focus, #contact #form #input textarea:focus {  color: #000000; -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3), 0 0 3px #f26522; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3), 0 0 3px #f26522; }
			#contact #form #input #neiowubsndiufbyaw { margin-right: 10px; width: 90px; padding: 10px; text-decoration: none; border: 1px solid #939393; color: #787878; font-weight: bold; background: #f4f4f4; background: -moz-linear-gradient(100% 100% 90deg, #cacaca, #f4f4f4); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#cacaca)); font-family: Delicious, Delicious, georgia, helvetica, arial; font-size: 24px; -moz-border-radius: 5px; -moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; -webkit-border-radius: 5px; -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2), inset 0 0 4px #ffffff; text-shadow: 0 1px 0 #ffffff; }
			#contact #form #input input.required, #contact #form #input textarea.required {  color: #000000; -moz-box-shadow: inset 0 0 3px #FFF940, 0 0 5px rgba(255,0,0,0.3); -webkit-box-shadow: inset 0 0 3px #FFF940, 0 0 5px rgba(255,0,0,0.3); }
		#contact #form:after { clear: both; display: block; content: ""; }
		#confirmcontact { background: #fff799; padding: 30px 10px; text-align: center; font-family: arial; font-size: 18px; color: #595632; }
#footer { background: #868686 url('images/footerglow.jpg') repeat-x bottom left scroll; font-family: arial; border-top: 1px solid #444444; }
	#footer .padding { padding: 20px; }
	#footer #copyright { padding: 10px 0; text-align: center; color: #7e8388; font-size: 11px; }
		#copyright #love { background: url('images/heart.png') no-repeat center right scroll; padding-right: 14px; margin: 0 AUTO; width: 144px;}
		#copyright a { color: #7e8388; text-decoration: none; }
		#copyright a:hover { text-decoration: underline; }
	#iamjamoyfooter { display: block; background: url('images/iamjamoy.footer.png') repeat top left scroll; width: 111px; height: 15px; margin: 0 AUTO 10px; }
	#codepassivefooter { display: block; background: url('images/codepassive.footer.png') repeat top left scroll; width: 108px; height: 20px; margin: 0 AUTO 20px; }
	#footer #copyright:after { clear: both; display: block; content: ""; }
	#footer #stuff { float: right; margin: 10px AUTO; text-align: right; }
		#footer #stuff h3 { font-size: 30px; color: #ffffff; font-family: Delicious, georgia, helvetica, arial; text-shadow: 0 -2px 0 rgba(0,0,0,0.3); }
		#footer #stuff  ul { margin: 10px 0; }
		#footer #stuff li { padding-bottom: 5px; }
		#footer #stuff li a { font-size: 16px; color: #242424; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 rgba(255,255,255,0.2); }
		#footer #stuff li a:hover { color: #00aeef; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); }

/**
 * -----------MOBILE-----------
 */
@media only screen and (max-width: 980px) {
	.wrapper { width: auto; }
	#me h1 { font-size: 5.4em; text-shadow: 0 5px 0 rgba(0,0,0,0.1); margin: 40px 0 20px; }
	#me h2 { font-size: 1.4em; }
	#me h5 { font-size: 1.2em; }
	#social { padding: 20px 0 30px; }
	
	#products { background: #272727; margin: 20px 0 10px; padding: 20px 0 30px; }
	#concerto .logo { float: none; display: block; clear: both; height: 75px; width: 257px; margin: 25px AUTO 0 AUTO; }
	#concerto .desc { float: none; clear: both; width: 400px; margin: 32px AUTO 0 AUTO; text-align: center; }
	#concerto .wordpress { display: none; float: none; }
	
	#personal { margin: 30px AUTO; width: 400px; padding-left: 60px; }
	#about #aboutme, #about #skillsandbelief { width: 100%; float: none; clear: none; }
	#about #skillsandbelief { margin-top: 20px; } 
	#about #skillsandbelief #skillslist { float: left; width: 50%; }
	#about #skillsandbelief #belieflist { float: right; width: 50%; }
	
	.project { width: 47%; }
	.project .desc, .project img { width: 100%; }

	#contact .padding { padding: 30px 20px 30px; }
	#contact h3 { font-size: 2.5em; }
	#contact p { font-size: 1.2em; }
	#contact #form { margin-top: 20px; }
	#contact #form p { margin: 10px 0; }
	#contact #form #labels label { font-size: 1.2em; display: block; margin-top: 12px; }
	#contact #form #input { float: none; }
	#contact #form #input input { color: #ababab; font-size: 1em; width: 55%;}
	#contact #form #input #porijosdnakjrblksajiu { width: 45%; }
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 86%; }
	#contact #form #input #neiowubsndiufbyaw { font-size: 1.4em; margin-left: 110px; }
}

@media only screen and (max-width: 930px) {
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 85.2%; }
}

@media only screen and (max-width: 885px) {
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 84.8%; }
}

@media only screen and (max-width: 865px) {
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 80%; }
}

@media only screen and (max-width: 825px) {
	#contact #form #input .emailissecure { display: none; }
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 70%; height: 200px; }
}

@media only screen and (max-width: 658px) {
	.project { width: 47%; height: 120px; }
}

@media only screen and (max-width: 480px) {
	.wrapper { width: auto; }
	#me h1 { font-size: 3.4em; text-shadow: 0 5px 0 rgba(0,0,0,0.1); margin: 40px 0 20px; }
	#me h2 { font-size: 1.2em; }
	#me h5 { font-size: 1em; }
	
	#personal { padding-left: 40px; }
	#about #aboutme, #about #skillsandbelief { width: 100%; float: none; clear: none; }
	#about #skillsandbelief { margin-top: 20px; } 
	#about #skillsandbelief #skillslist { float: left; width: 50%; }
	#about #skillsandbelief #belieflist { float: right; width: 50%; }
	
	.project { width: 95%; }
	.project .desc, .project img { width: 100%; }

	#contact h3 { font-size: 2.5em; }
	#contact p { font-size: 1.2em; }
	#contact #form { margin-top: 20px; }
	#contact #form p { margin: 10px 0; }
	#contact #form #labels label { font-size: 1.2em; display: block; margin-top: 12px; }
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 70%; height: 200px; }
	#contact #form #input #neiowubsndiufbyaw { font-size: 1.4em; margin-left: 50%; }
}

@media only screen and (max-width: 470px) {
	#me h2 { display: none; }
	#me h5 { display: none; }
	#personal { display: none; }
	#about #skillsandbelief #skillslist { float: none; clear: both; width: 100% }
	#about #skillsandbelief #belieflist { float: none; clear: both; width: 100% }
	#contact #form #input textarea { font-size: 1em; padding: 5px; width: 65%; height: 200px; }
}

@media only screen and (max-width: 400px) {
	#form { display: none; }
	#social #icons { width: 100%; }
	#concerto .desc  { display: none; }
}

@media only screen and (max-width: 320px) {
	.wrapper { width: auto; }
	#me h1 { font-size: 3em; text-shadow: 0 5px 0 rgba(0,0,0,0.1); margin: 40px 0 20px; }
	
	#social #icons a:first-child { margin-left: 5px; }
	#social #icons a:last-child { margin-right: 0; }
	
	#personal { display: none; }
	#about #aboutme, #about #skillsandbelief { width: 100%; float: none; clear: none; }
	#about #skillsandbelief { margin-top: 20px; } 
	#about #ps { font-size: 1.5em; }
	
	.project { width: 95%; }
	.project .desc, .project img { width: 100%; }

}
